*.o
*.lo
*.la
*.so*
*.a
*~
*#*#
.#*
*.gcda
*.gcno
*-coverage*
aminclude_static.am
config.log
config.status
Makefile
Makefile.in
.deps
INSTALL
missing
aclocal.m4
ar-lib
autom4te.cache/
compile
configure
depcomp
.dirstamp
install-sh
libtool
ltmain.sh
.libs
stamp*
config.*
private/config.h*
mptcpd-*/
*.tar.*
core*
doc/
etc/*.conf
lib/mptcpd.pc
src/mptcpd
src/mptcpize
src/mptcp.service
man/mptcpd.8
man/mptcpize.8
test-driver
tests/test-network-monitor
tests/test-plugin
tests/test-path-manager
tests/test-commands
tests/test-configuration
tests/test-cxx-build
tests/test-id-manager
tests/*.log
tests/*.trs
tests/test-suite.log
README
