<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/mptcpd/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/mptcpd">Home</a></li>
	<li><a href="/mptcpd/README.html">Getting Started</a></li>
	<li><a href="https://github.com/intel/mptcpd/wiki">Wiki</a></li>
	<li><a href="/mptcpd/doc/html">Code Documentation</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
	<li><a href="https://lists.01.org/postorius/lists/mptcp.lists.01.org/">mailing list</a></li>
	<li><a href="https://github.com/intel/mptcpd">github.com/intel/mptcpd</a></li>
      </ul>
    </footer>
  </body>
</html>
