<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/README.md">Getting Started</a></li>
	<li><a href="/wiki">Wiki</a></li>
	<li><a href="/doc/html">Code Documentation</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
	<li><a href="mailto:mptcp@lists.01.org">email</a></li>
	<li><a href="https://github.com/intel/mptcpd">github.com/intel/mptcpd</a></li>
      </ul>
    </footer>
  </body>
</html>
