<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="index.html">Home</a></li>
	<li><a href="README.html">Getting Started</a></li>
	<li><a href="https://github.com/multipath-tcp/mptcpd/wiki">Wiki</a></li>
	<li><a href="doc/html">Code Documentation</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
	<li><a href="https://lore.kernel.org/mptcp/">mailing list</a></li>
	<li><a href="https://github.com/multipath-tcp/mptcpd">github.com/multipath-tcp/mptcpd</a></li>
      </ul>
    </footer>
  </body>
</html>
