name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        debug: [enable-debug, disable-debug]

    steps:
    - uses: actions/checkout@v4
    - name: dependencies
      run: sudo apt-get -y install autoconf-archive pandoc git
    - name: build and install ELL
      run: |
        git clone git://git.kernel.org/pub/scm/libs/ell/ell.git
        cd ell
        git checkout 0.30
        ./bootstrap
        ./configure --prefix=/usr
        sudo make install
    - name: bootstrap
      run: ./bootstrap
    - name: configure
      run: ./configure --${{ matrix.debug }}
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - name: make install
      run: sudo make install
    - name: make installcheck
      run: LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH make installcheck
    - name: make uninstall
      run: sudo make uninstall
