name: ELL master

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '33 6 * * 1-5'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        cc: [gcc, clang]

    steps:
    - uses: actions/checkout@v2
    - name: dependencies
      run: sudo apt-get -y install autoconf-archive git clang
    - name: build and install ELL
      run: |
        git clone git://git.kernel.org/pub/scm/libs/ell/ell.git
        cd ell
        ./bootstrap
        ./configure CC=${{ matrix.cc }} --prefix=/usr
        sudo make install
    - name: bootstrap
      run: ./bootstrap
    - name: configure
      run: ./configure CC=${{ matrix.cc }}
    - name: make
      run: make
    - name: make check
      run: make check
