name: multipath-tcp.org kernel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: dependencies
      run: sudo apt-get -y install autoconf-archive git
    - name: build and install ELL
      run: |
        git clone git://git.kernel.org/pub/scm/libs/ell/ell.git
        cd ell
        git checkout 0.30
        ./bootstrap
        ./configure --prefix=/usr
        sudo make install
    - name: bootstrap
      run: ./bootstrap
    - name: configure
      run: ./configure --with-kernel=multipath-tcp.org
    - name: make
      run: make
