name: Valgrind

on: ["push", "pull_request"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: dependencies
      run: sudo apt-get -y install autoconf-archive valgrind wget pandoc git
    - name: build and install ELL
      run: |
        git clone git://git.kernel.org/pub/scm/libs/ell/ell.git
        cd ell
        git checkout 0.30
        ./bootstrap
        ./configure --prefix=/usr
        sudo make install
    - name: bootstrap
      run: ./bootstrap
    - name: configure
      run: ./configure --enable-valgrind
    - name: make
      run: make
    - name: make check-valgrind
      run: make check-valgrind
